/*src/App.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 4rem; /* Default font size for larger screens */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  text-align: center; /* Center align the heading */
}

/* Adjust for mobile devices */
@media (max-width: 768px) {
  h1 {
    font-size: 2rem; /* Smaller font size for mobile */
    margin: 0 auto; /* Center align on mobile */
    padding: 0; /* Ensure no extra padding */
  }
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}